
<section class="top-section" [style.height]="!showMainWrapper?'100vh':'65vh'" [style.transition]="!showMainWrapper?'all ease 0.2s':'all ease 0.2s'">
    <div class="main-wrapper">
        <article [style.height]="'25rem'">
            <div class="main-section">
                <h2 class="form-title">Recommendation Engine</h2>
                <div class="form-field">
                    <label class="label-name">Search By:</label>
                    <select #myDropdown (change)="dropdownChanged(myDropdown.value)">
                        <option value="user">User ID</option>
                        <option value="zone">Zone Name</option>
                        <option value="user_zone">User ID and Zone Name</option>
                        <option value="videoname">Video Name</option>
                        <option value="instructor">Instructor</option>
                        <option value="foci">Foci</option>
                        <option value="category">Category</option>
                        <option value="equipment">Equipment</option>
                        <option value="country">Country</option>
                        <option value="state">State</option>
                        <option value="overall">Overall Trend</option>
                    </select>
                </div>
                <!-- First set of input box and button -->
                <div id="first_label" *ngIf="myDropdown.value !== 'overall'" class="form-field">
                    <label class="lable-input">{{text_from_dropdown}}</label>
                    <input type="text" #firstTextBox [(ngModel)]="firstBox">
                </div>               
        
                <!-- Second set of input box and button -->
                <div *ngIf="myDropdown.value === 'user_zone'" class="form-field" >
                    <label class="white_text">Enter Zone Name : </label>
                    <input type="text" #secondTextBox [(ngModel)]="secondBox">
                </div>
        
                <!-- <button class="submit_btn" (click)="captureDetails(myDropdown.value, firstTextBox.value, secondTextBox.value)">Submit</button> -->
                <button class="submit_btn" (click)="captureDetails(myDropdown.value)">Submit</button>

            </div>
     </article>
     <div class="main-text">
        <h1 >
            FA-FOD Recommendation System 
        </h1>
     </div>
    </div>
</section>

<div class="main-wrapper" [style.display]="showMainWrapper?'block':'none'">
    <div class="tab-container">
        <ul class="btn-container" [style.display]="selectedTab? 'block': 'none'">
            <li class="tab_btn" *ngFor="let tab of tabArray" (click)="selectedTab = tab;"
                [ngClass]="{'active-btn': selectedTab === tab}"
                >{{tab}}</li>
        </ul>
        <div class="tabPanels">
            <div id="panel_response" class="panel" [style.display] = "selectedTab === 'Response'?'block':'none'">
                <div class="data_container" *ngFor="let data of convertedArray">
                    <h3 class="data_name">{{data.name}}</h3>
                    <div class="data_list">
                        <div class="data" *ngFor="let value of data.values">
                            <img [src]="value.img">
                            <span>{{value.value.substr(0,26)}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel_user" class="panel" [style.display] = "selectedTab === 'User Chart'?'block':'none'">
                <div style="display: grid; grid-template-columns: 50% 50%;">
                    <div class = "chart-item">
                        <h3>User Intensity Level Graph</h3>
                        <canvas id="user_chart_1"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>User Category Level Graph</h3>
                        <canvas id="user_chart_2"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Watch Again Recommendations</h3>
                        <canvas id="user_chart_3"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>User Equipment Level Graph</h3>
                        <canvas id="user_chart_4"></canvas>
                    </div>
                </div>
                <div class = "chart-item">
                    <h3>Video Watched by Similar Users</h3>
                    <canvas id="user_chart_5"></canvas>
                </div>
            </div>
            <div id="panel_zone" class="panel" [style.display] = "selectedTab === 'Zone Chart'?'block':'none'">
                <div style="display: grid; grid-template-columns: 50% 50%;">
                    <div class = "chart-item">
                        <h3>Zone Intensity Level Graph</h3>
                        <canvas id="zone_chart_1"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Similar Zone Trends</h3>
                        <canvas id="zone_chart_2"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Similar Zone</h3>
                        <canvas id="zone_chart_3"></canvas>
                    </div>
                </div>
            </div>
            <div id="panel_videoname" class="panel" [style.display] = "selectedTab === 'Video Chart'?'block':'none'">
                <div class = "chart-item">
                    <h3>Videos Frequently Watched Together With</h3>
                    <canvas id="videoname_chart_1"></canvas>
                </div>
            </div>
            <div id="panel_instructor" class="panel" [style.display] = "selectedTab === 'Instructor Chart'?'block':'none'">
                <div style="display: grid; grid-template-columns: 50% 50%;">
                    <div class = "chart-item">
                        <h3>Video vs Counts</h3>
                        <canvas id="instructor_chart_1"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Top Videos</h3>
                        <canvas id="instructor_chart_2"></canvas>
                    </div>
                </div>
            </div>
            <div id="panel_country" class="panel" [style.display] = "selectedTab === 'Country Chart'?'block':'none'">
                <div style="display: grid; grid-template-columns: 50% 50%;">
                    <div class = "chart-item">
                        <h3>{{firstBox==='ALL'? 'Top 5 Countries':'Top 5 States'}}</h3>
                        <canvas id="country_chart_1"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Top 10 Video Categories</h3>
                        <canvas id="country_chart_2"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Top 10 Equipment by Video Counts</h3>
                        <canvas id="country_chart_3"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Top 10 Most Watched Videos</h3>
                        <canvas id="country_chart_4"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>{{firstBox==='ALL'? 'Progress Percentile by Top 10 Countries':'Progress Percentile by Top 10 States'}}</h3>
                        <canvas id="country_chart_5"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Watch Count by Day</h3>
                        <canvas id="country_chart_6"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Video Count by Time of Day</h3>
                        <canvas id="country_chart_7"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Video Count by Hour</h3>
                        <canvas id="country_chart_8"></canvas>
                    </div>
                </div>
            </div>
            <div id="panel_state" class="panel" [style.display] = "selectedTab === 'State Chart'?'block':'none'">
                <div style="display: grid; grid-template-columns: 50% 50%;">
                    <div class = "chart-item">
                        <h3>Top 5 Zones</h3>
                        <canvas id="state_chart_1"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Top 10 Video Categories</h3>
                        <canvas id="state_chart_2"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Top 10 Equipment by Video Counts</h3>
                        <canvas id="state_chart_3"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Top 10 Most Watched Videos</h3>
                        <canvas id="state_chart_4"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Video Progress Percentile by Top 10 Zones</h3>
                        <canvas id="state_chart_5"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Watch Count by Day</h3>
                        <canvas id="state_chart_6"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Video Count by Time of Day</h3>
                        <canvas id="state_chart_7"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Video Count by Hour</h3>
                        <canvas id="state_chart_8"></canvas>
                    </div>
                </div>
            </div>
            <div id="panel_trend_pie" class="panel" [style.display] = "selectedTab === 'Trend Pie Chart'?'block':'none'">
                <div style="display: grid; grid-template-columns: 50% 50%;">
                    <div class = "chart-item">
                        <h3>Zone Vs Count</h3>
                        <canvas id="trend_pie_chart_1"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Trending Videos</h3>
                        <canvas id="trend_pie_chart_2"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Top 10 Countries</h3>
                        <canvas id="trend_pie_chart_3"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Top 10 Categories</h3>
                        <canvas id="trend_pie_chart_4"></canvas>
                    </div>
                    <div class = "chart-item">
                        <h3>Top 10 Equipments</h3>
                        <canvas id="trend_pie_chart_5"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>