
.top-section{
    display: flex;
    align-items: center;
    // border-radius: 0.8rem;
    background: url(https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1l)
    ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .main-wrapper {
        display: flex;
        justify-content: space-between;
        .main-text{
            width: 50%;
            color: #fff;
            font-size: 35px;
            display: flex;
            align-items: center;
            h1{
                text-shadow: 2px 1px 2px #000;
            }
        }
        .main-section{
            width: 390px;
            background: #00000091;
            height: 355px;
            padding: 20px;
            select{
                width: 100%;
                height: 40px;
                padding: 10px;
                border: 0;  
                option{
                    padding: 5px;
                }
            }
            input{
                width: 95%;
                height: 40px;
                padding: 0px 10px 0 10px;
                border: 0;
            }
            .submit_btn{
                margin-top: 1.5rem;
                height: 40px;
                width: 8rem;
                font-size: 19px;
                background: #ffba00;
                color: white;
                border-radius: 0;
                border: 1px solid #ffe49b;
                cursor: pointer;
                font-weight: 500;
            }
            .form-title{
                text-align: center;
                color: #fff;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 23px;
                margin-top: 10px;
            }
            .form-field{
                margin-top: 20px;
            }
            label{
                color: #ffffff;
                font-size: 16px;
            }
        }
    }
   
}
.main-wrapper {
    // font-family: sans-serif;
    #panel_response {
        border: 1px solid rgb(255, 186, 0);
    }
    .white_text{
        color: #ffffff;
    }
    label{
        display: block;
        margin-bottom: 0.4rem;
        font-size: large;
    }

    width: 85%;
    margin: 0 auto;
    article {
        // margin: 0 auto 1rem auto;
        // border-radius: 0.8rem;
        // background: url(https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1l)
        // ;
        // background-repeat: no-repeat;
        // background-size: cover;

        .main_section{
            width: 390px;
            margin: 0px auto;
            padding: 5px 0;
    
            h1{
                font-size: xx-large;
                margin: 1rem 0rem;
            }
    
            #first_label{
                margin-bottom: 1rem;
            }
    
            select, input{
                height: 2rem;
                border-radius: 0.4rem;
                border: none;
                width: 14rem;
            }
        }
    }

    // .no_data{
    //     font-size: x-large;
    //     margin-top: 3rem;
    //     color: #13bc5b;
    //     height: 10rem;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     background-color: #f9f9f9;
    //     border-radius: 1rem;
    //     box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    // }

    .tab-container{
        margin-top: 50px;
        margin-bottom: 50px;
        .btn-container{
            display: inline-block;
            height: 37px;
            font-size: larger;
            margin-bottom: -1px;
            border-bottom: 0;
            width: auto;
            .tab_btn{
                list-style: none;
                padding: 0.5rem 1rem 0.5rem 1rem;
                cursor: pointer;
                display: inline-block;
                border: 1px solid rgb(255, 186, 0);
            }
        }

        .tabPanels{
            margin-top: 0.2rem;
            
            .panel{
                border: 1px solid rgb(255, 186, 0);
                // border-radius: 0.4rem;
                // box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
            }
        }

        .data_container{
            background-color: white;
            // border: 1px solid #aaa;
            // border-radius: 0.4rem;
            margin: 0;
            // box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
            .data_name{
                font-size: x-large;
                padding: 1rem 0 0 1rem;
                margin-bottom: 15px;
                font-weight: normal;
            }
            .data_list{
                flex-wrap: wrap;
                // justify-content: space-around;
                display: flex;
                width: 100%;
            }
            .data{
                height: 11rem;
                margin: 0 1rem 2rem 1rem;
                border: 1px solid #aaa;
                border-radius: 7px;
                // box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
                width: 17%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    overflow: hidden;
                    // border-top-left-radius: 1rem;
                    // border-top-right-radius: 1rem;
                }

                span{
                    display: inline-block;
                    margin: 0 1rem 0 1rem;
                    font-size: large;
                    font-family: monospace;
                    font-weight: 600;
                    color: #444;
                }
            }
        }
    }
}

.submit_btn{
    margin-top: 1.5rem;
    height: 2rem;
    width: 8rem;
    font-size: larger;
    // background: #13bc5b;
    // background-color: rgba(153, 102, 255, 0.7);
    background-color: rgb(46, 70, 203);
    color: white;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
}