.main-wrapper {
    font-family: sans-serif;

    .white_text{
        color: #ffffff;
    }
    label{
        display: block;
        margin-bottom: 0.4rem;
        font-size: large;
    }

    width: 85%;
    margin: 0 auto;
    article {
        margin: 0 auto 1rem auto;
        border-radius: 0.8rem;
        background: url(https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1l)
        ;
        background-repeat: no-repeat;
        background-size: cover;

        .main_section{
            width: 390px;
            margin: 0px auto;
            padding: 5px 0;
    
            h1{
                font-size: xx-large;
                margin: 1rem 0rem;
            }
    
            #first_label{
                margin-bottom: 1rem;
            }
    
            select, input{
                height: 2rem;
                border-radius: 0.4rem;
                border: none;
                width: 14rem;
            }
        }
    }

    .no_data{
        font-size: x-large;
        margin-top: 3rem;
        color: #13bc5b;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        border-radius: 1rem;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }

    .tabContainer{
        // margin-top: 1rem;
        
        .btnContainer{
            display: flex;
            // background-color: buttonFace;
            height: 2rem;
            align-items: center;
            font-size: larger;
            margin-bottom: 0;
            padding-left: 0.4rem;
            .tab_btn{
                list-style: none;
                padding: 0.5rem 1rem 0.5rem 1rem;
                cursor: pointer;
                // border-bottom: 0.1rem solid #aaa;
            }
        }

        .tabPanels{
            margin-top: 0.2rem;
            
            .panel{
                border: 0.1rem solid #aaa;
                border-radius: 0.4rem;
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
            }
        }

        .data_container{
            background-color: white;
            border: 1px solid #aaa;
            border-radius: 0.4rem;
            margin: 0 0 1rem 0;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
            .data_name{
                font-size: x-large;
                padding: 1rem 0 0 1rem;
            }
            .data_list{
                display: grid;
                grid-template-columns : repeat(5, auto);
            }
            .data{
                height: 11rem;
                margin: 0 1rem 2rem 1rem;
                border: 1px solid #aaa;
                border-radius: 1rem;
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

                img{
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    overflow: hidden;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                }

                span{
                    display: inline-block;
                    margin: 0 1rem 0 1rem;
                    font-size: small;
                    font-weight: 600;
                }
            }
        }
    }
}

.submit_btn{
    margin-top: 1.5rem;
    height: 2rem;
    width: 8rem;
    font-size: larger;
    background: #13bc5b;
    color: white;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
}